<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Newsletter Sign Up</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form action="/forgot-password" method="post" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Put your email here to get a password reset code</h1>


        <input type="email" name="username" class="form-control middle" placeholder="Email address" required>


        <button class="btn btn-lg btn-primary btn-block" type="submit">get code</button>
        <br>

    </form>
  </body>
</html>
